:root{
  --final-r: 183;
  --final-g: 50;
  --final-b: 202;
  --initial-r: 3;
  --initial-g: 252;
  --initial-b: 243;
  --menu-bars-initiially-visible: 5;
  --menu-animation-delay: 0.1s;
  --number-menu-bars: 10;
  --menu-bar-height: 26px;
  /* --menu-reveal-animation-duration: 0.7s; */
  --menu-reveal-animation-duration: 1.5s;
  --background-color: #0a0a0a;
  --sun-size: 110px;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  background-color: var(--background-color);
}

button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.74);
  color: #0a0a0a;
}


#main-container{
  height: 100%;
  padding: 6px;
  overflow: hidden;
}

#button-container {
  top: 0px;
  position: absolute;
  background-color: transparent;
}

#menu-container{
  position: relative;
  height: 100%;
  /* overflow: hidden; */
}

.menu-bar{
  position: absolute;
  height: var(--menu-bar-height);
  /* border: 1px solid white; */
  transform-origin: calc(var(--menu-bar-height) / 2) calc(var(--menu-bar-height) / 2);
  transform: rotate(45deg);
  border-radius: calc(var(--menu-bar-height) / 2);
  padding: 4px;
  bottom: calc(
    (var(--menu-bars-initiially-visible) - var(--i) - 1) 
    * 
    (var(--menu-bar-height) * 1.6)
  );
  width: calc(
    var(--menu-bar-height) + 
    (var(--menu-bars-initiially-visible) - var(--i) - 1) 
    * 
    (var(--menu-bar-height) * 2.26)
  );
  --red: calc(
    var(--initial-r) 
    +
    ((var(--final-r) - var(--initial-r)) / (var(--menu-bars-initiially-visible) - 1) * var(--i)) 
  );
  --green: calc(
    var(--initial-g) 
    +
    ((var(--final-g) - var(--initial-g)) / (var(--menu-bars-initiially-visible) - 1) * var(--i)) 
  );
  --blue: calc(
    var(--initial-b) 
    +
    ((var(--final-b) - var(--initial-b)) / (var(--menu-bars-initiially-visible) - 1) * var(--i)) 
  );
  background-color: rgb(
    var(--red),
    var(--green),
    var(--blue)
  );
  z-index: calc(100 - var(--i));
  transition: transform, bottom, left, background-color, width, justify-content;
  transition-duration: var(--menu-reveal-animation-duration);
  transition-delay: calc(var(--i) * var(--menu-animation-delay));
} 

#sun-container{
  position: absolute;
  width: var(--sun-size);
  top: calc(0px - var(--sun-size) / 3 * 2 - 3px);
  aspect-ratio: 3/2;
  left: calc(50% - var(--sun-size) / 2);
  overflow: hidden;
  transition-duration: calc(var(--menu-reveal-animation-duration));
  transform: aspect-ratio, width;
}

#sun{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background:  linear-gradient(180deg, rgba(255,192,0,1) 0%, rgba(183,5,202,1) 100%);
}

.sun-bar{
  position: absolute;
  bottom: calc((var(--j) + 1) * var(--menu-bar-height) / 2 - (-3px * var(--j)));
  width: 100%;
  height: 3px;
  background-color: var(--background-color);
  transition-duration: var(--menu-reveal-animation-duration);
  transform: height, bottom;
}

.menu-icon {
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--background-color);
  border-radius: 50%;
  transition-duration: var(--menu-reveal-animation-duration);
  transition-delay: calc(var(--i) * var(--menu-animation-delay));
}

.menu-horizontal{
  width: 100%;
  transform: rotate(0deg);
  --red: calc(
    var(--initial-r) 
    +
    ((var(--final-r) - var(--initial-r)) / (var(--number-menu-bars) - 1) * var(--i)) 
  );
  --green: calc(
    var(--initial-g) 
    +
    ((var(--final-g) - var(--initial-g)) / (var(--number-menu-bars) - 1) * var(--i)) 
  );
  --blue: calc(
    var(--initial-b) 
    +
    ((var(--final-b) - var(--initial-b)) / (var(--number-menu-bars) - 1) * var(--i)) 
  );
  background-color: rgb(
    var(--red),
    var(--green),
    var(--blue)
  );

  bottom: calc(
    (var(--number-menu-bars) - var(--i) - 1) 
    * 
    (var(--menu-bar-height) * 1.2)
  );
}

.menu-horizontal #sun-container{
  aspect-ratio: 1;
  top: calc(0px - var(--menu-bar-height) * 2 - 5px);
  width: calc(var(--menu-bar-height) * 2);
  left: 0px
}

.menu-horizontal .sun-bar{
  height: 0px;
  bottom: calc((var(--j) + 1) * var(--menu-bar-height) / 4 - (-3px * var(--j)));
}
